body{
    background-image: url(https://i.pinimg.com/originals/c9/b9/a6/c9b9a64adee72107775b43347fb9cca5.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-right: 500px;
}

h1{

    color: rgb(62, 201, 211);
    
}