body{
    background-image: url(https://images.steamusercontent.com/ugc/1751308203935637934/819BEFC5970A65A3386A7B224BCED8C3F4C742F0/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
    background-size: cover;
}

img {
    
    width: 1000px;
    border-radius: 10px;
}